body {
    background-color: rgb(156, 160, 160);
}

.card {
    width: 350px;
    text-decoration-color: cornsilk;
}

.card-body.Gryffindor {
    background-color:red;
    box-shadow: black;

}
.card-body.Hufflepuff {
    background-color: yellow;
}
.card-body.Slytherin {
    background-color: green;
}
.card-body.Ravenclaw {
    background-color: blue;
}